<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pipeline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ASE_Project.presentation.ASE_ProjectModelWizardID"
            name="%_UI_ASE_ProjectModelWizard_label"
            class="ASE_Project.presentation.ASE_ProjectModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ASE_ProjectModelFile.gif">
         <description>%_UI_ASE_ProjectModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pipeline -->
      <editor
            id="ASE_Project.presentation.ASE_ProjectEditorID"
            name="%_UI_ASE_ProjectEditor_label"
            icon="icons/full/obj16/ASE_ProjectModelFile.gif"
            extensions="ase_project"
            class="ASE_Project.presentation.ASE_ProjectEditor"
            contributorClass="ASE_Project.presentation.ASE_ProjectActionBarContributor">
      </editor>
   </extension>

</plugin>
